* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.5px;
}
.homepage {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.homepage img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.homepage button {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body,
#root,
main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.message {
  color: red;
  background-color: rgb(255, 238, 238);
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  width: 100%;
}
.success {
  background-color: rgb(198, 255, 198);
  color: rgb(20, 141, 20);
  text-align: center;
  font-weight: 500;
  padding: 2px 15px;
}
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-container h1 {
  padding: 3rem 0;
  font-size: 4rem;
  color: rgb(100, 115, 131);
}
form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 10px grey;
  width: 700px;
  padding: 2rem;
  margin-bottom: 3rem;
}
form input {
  height: 2rem;
}

form textarea {
  height: 100px;
  resize: none;
}
label {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1rem 0;
}

.radio-container {
  width: 100%;
  padding: 10px;
  box-shadow: 0px 0px 1px 1px grey;
  margin: 1rem 0;
  border-radius: 3px;
}
.radio-container > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.radio-container label {
  box-shadow: 0px 0px 1px 1px grey;
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.radio-container .box {
  box-shadow: 0px 0px 1px 1.5px rgb(53, 90, 255);
}
.range-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  position: relative;
}
.range-container input {
  position: relative;
}
.range-container input::before {
  content: "Less";
  position: absolute;
  left: 0;
  top: 25px;
}
.range-container input::after {
  content: "More";
  position: absolute;
  right: 0;
  top: 25px;
}
.range-container .normal {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 47px;
  font-size: 15px;
}
.radio-container input {
  height: 1rem;
  width: 40px;
}
input[type="text"],
input[type="tel"],
input[type="number"],
textarea {
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px 1px grey;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 1.1rem;
  color: rgb(73, 73, 73);
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
  box-shadow: 0px 0px 1px 1.5px rgb(53, 90, 255);
}

span {
  margin-bottom: 5px;
}
.form-footer {
  width: 100%;
}
.price {
  margin: 1rem 0;
}
.order {
  width: 100%;
  padding: 3px 0;
  font-size: 1.3rem;
  background-color: rgb(53, 90, 255);
  border: none;
  outline: none;
  color: white;
  border-radius: 3px;
}
.order:hover {
  background-color: rgb(31, 55, 160);
}
.order:active {
  transform: scale(0.8);
}
@media screen and (max-width: 750px) {
  form {
    width: 80%;
  }
}
@media screen and (max-width: 620px) {
  .radio-container > div {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 400px) {
  .radio-container label {
    flex-direction: column;
  }
  .form-container h1 {
    font-size: 2rem;
  }
}
